<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body> 
<%= render 'layouts/header' %>

<div class="container">
<div class="content">
<div class="row">
          <div class="span10">
<%= yield %>

</div>
</div>
</div>
<%= render 'layouts/footer' %>
</div>
  </body>
</html>
